<div class="list">
    <h1 class="ready"><strong>LISTO:</strong> {{porcentaje | number:'1.0-0'}}%</h1>
    <div class="list-content" *ngFor="let producto of productos; let i= index">
        <div class="cantidad">
            <p class="name-cantidad">Cantidad</p>
            <p class="num-cantidad">{{producto.cantidad}}</p>
        </div>
        <div class="description-container">
            <p class="description">Descripción</p>
            <h1 class="name">{{producto.nombre}}</h1>
        </div>
        <div class="btn">
            <p class="name">Editar</p>
            <fa-icon [icon]="ionEdit" (click)="editarProducto(i)"></fa-icon>
        </div>
        <div class="btn" (click)="eliminarProducto(i)">
            <p class="name">Eliminar</p>
            <fa-icon [icon]="ionDelete"></fa-icon>
        </div>
        <div class="check-list" [ngClass]="{'check-list-active': producto.listo}" (click)="check(i)">
            <fa-icon [icon]="ionCheck"></fa-icon>
        </div>
        
    </div>
    
</div>
