<app-navbar></app-navbar>

<div *ngIf="user" class="contenedor">
  <div class="form-container">
    <app-form (estaActualizado)="guardarProducto()" [estaActualizando]="estaActualizando" (añadirProducto)="agregarProducto($event)" [productForm]="productForm"></app-form>
  </div>
  <div class="list-container">
    <app-list (actualizarProducto)="actualizarProducto($event)"></app-list>
  </div>
</div>
<div *ngIf="loading" class="loading">
  <img src="assets/img/loading.gif" alt="" class="load">
</div>



  